# .dockerignore
.git
.env
template.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv12/
bin/
lib/
share/
Include/
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
docs/
assets/
Output/
videos/
runs/
dashboard/image.png
fly.toml
Procfile
